<section class="section cta py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center pb-5">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        <div class="d-flex flex-column flex-xl-row justify-content-center">
          {{ with .content.button1 }}
            <a class="btn bg-green-grad text-light px-4 my-1 fw-bold fs-3" href="{{ .url }}" style="width: auto;">{{ .label }}</a>
          {{ end }}
          {{ with .content.button2 }}
            <a class="btn btn-outline-primary px-4 my-1 ms-xl-4 fw-bold fs-3" href="{{ .url }}" style="width: auto;">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
