<section class="section hero services py-4">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="hero-title fs-1 fw-bold text-center text-primary pb-3">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range .content.cards }}
        <div class="col-12 col-xl-3 mb-4">
          <div class="card bg-blue-16 border-0 border-radius-34 p-4">
            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
            <div class="text-center">
              {{ with .title }}<h2 class="card-title text-center text-primary py-4"><b>{{ . }}</b></h2>{{ end }}
              {{ with .text }}<p class="card-text text-black-61">{{ . }}</p>{{ end }}
              {{ with .button }}<a class="btn btn-primary fw-bold mt-4" href="{{ .url }}">{{ .label }}</a>{{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
