<section class="section cta pb-5">
    <div class="container">
        {{ with .content }}
        <div class="row justify-content-center pb-5">
            <div class="col-12 col-xl-10">
                <h3 class="fs-1 fw-bold text-center text-primary">{{ .title }}</h3>
            </div>
        </div>
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe src="{{ .link }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                allowfullscreen title="{{ .description }}"></iframe>
        </div>
        {{ end }}
</section>